# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data
*.tif
*.csv
*.zip
val_data/
data/
/content/

# Large files
*.pth
*.gif
Projekt_SU2_18_11_1.ipynb
